In [2]:
import numpy as np
import pandas as pd

In [3]:
def read_data_csv(path):
    data = pd.read_csv(path)
    return data

In [4]:
df = read_data_csv('20221020091032_1854.csv')
df1 = read_data_csv('20221020091032_1854 (1).csv')
df2 = read_data_csv('20221020091032_1854 (2).csv')
df3 = read_data_csv('20221020091032_1854 (3).csv')
df4 = read_data_csv('20221020091032_1854 (4).csv')

FileNotFoundError: [Errno 2] No such file or directory: '20221020091032_1854.csv'

In [17]:
df = df.append(df1)
df = df.append(df2)
df = df.append(df3)
df = df.append(df4)

/var/folders/8f/3g8kshs57kv0tct2rb9cvy900000gn/T/ipykernel_24586/770840707.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df1)
/var/folders/8f/3g8kshs57kv0tct2rb9cvy900000gn/T/ipykernel_24586/770840707.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df2)
/var/folders/8f/3g8kshs57kv0tct2rb9cvy900000gn/T/ipykernel_24586/770840707.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df3)
/var/folders/8f/3g8kshs57kv0tct2rb9cvy900000gn/T/ipykernel_24586/770840707.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df4)

In [18]:
len(df)

1000

In [19]:
df['user_id'] = range(1, len(df) + 1)
df.head()

  First Name  Last Name                       Email  user_id
0     Evelyn    Douglas    e.douglas@randatmail.com        1
1      Byron     Fowler     b.fowler@randatmail.com        2
2    Melissa      Mason      m.mason@randatmail.com        3
3       Mike     Rogers     m.rogers@randatmail.com        4
4       Tara  Henderson  t.henderson@randatmail.com        5

In [21]:
df = df.loc[:,['user_id', 'First Name', 'Last Name', 'Email']]

In [22]:
df.head()

   user_id First Name  Last Name                       Email
0        1     Evelyn    Douglas    e.douglas@randatmail.com
1        2      Byron     Fowler     b.fowler@randatmail.com
2        3    Melissa      Mason      m.mason@randatmail.com
3        4       Mike     Rogers     m.rogers@randatmail.com
4        5       Tara  Henderson  t.henderson@randatmail.com

In [23]:
len(df)

1000

In [24]:
for col in df.columns:
    print(type(df[col].values[0]))

<class 'numpy.int64'>
<class 'str'>
<class 'str'>
<class 'str'>

In [26]:
df.to_csv('user_table.csv', index=False)

In [22]:
df_table = read_data_csv('recipes_82k.csv')
df_table = df_table.head(2000)

In [23]:
df_ingredients2 = df_table.drop(columns = ['category','cooking_method','cuisine','image','prep_time','recipe_name','serves','tags'])
df_ingredients2.head()

                                         ingredients
0  ['1 tablespoons extra virgin olive oil', '1 cu...
1  ['4 large eggs', 'Salt (black pepper, everythi...
2  ['olive oil spray', '4 about 5 ounce each salm...
3  ['1/2 cup freshly grated Parmesan (not pre-gra...
4  ['3 1/2 pounds new potatoes (about 10 peeled a...

In [24]:
df_ingredients2['recipe_id'] = range(1, len(df_ingredients2) + 1)
df_ingredients2.head()

                                         ingredients  recipe_id
0  ['1 tablespoons extra virgin olive oil', '1 cu...          1
1  ['4 large eggs', 'Salt (black pepper, everythi...          2
2  ['olive oil spray', '4 about 5 ounce each salm...          3
3  ['1/2 cup freshly grated Parmesan (not pre-gra...          4
4  ['3 1/2 pounds new potatoes (about 10 peeled a...          5

In [25]:
len(df_ingredients2)

2000

In [26]:
df_ingredients2 = df_ingredients2.loc[:,['recipe_id','ingredients']]
df_ingredients2.head()

   recipe_id                                        ingredients
0          1  ['1 tablespoons extra virgin olive oil', '1 cu...
1          2  ['4 large eggs', 'Salt (black pepper, everythi...
2          3  ['olive oil spray', '4 about 5 ounce each salm...
3          4  ['1/2 cup freshly grated Parmesan (not pre-gra...
4          5  ['3 1/2 pounds new potatoes (about 10 peeled a...

In [27]:
df_ingredients2.to_csv('ingredients_table.csv', index=False)

In [28]:
df_tags = df_table.drop(columns = ['category','cooking_method','cuisine','image','prep_time','recipe_name','serves','ingredients'])
df_tags.head()

                                                tags
0  Dairy Free, Gluten Free, Keto Recipes, Kid Fri...
1  Air Fryer Recipes, Dairy Free, Gluten Free, Ke...
2  Air Fryer Recipes, Gluten Free, Keto Recipes, ...
3  Gluten Free, Keto Recipes, Kid Friendly, Low C...
4  Dairy Free, Gluten Free, Kid Friendly, Vegetar...

In [29]:
df_tags['recipe_id'] = range(1, len(df_tags) + 1)
df_tags.head()

                                                tags  recipe_id
0  Dairy Free, Gluten Free, Keto Recipes, Kid Fri...          1
1  Air Fryer Recipes, Dairy Free, Gluten Free, Ke...          2
2  Air Fryer Recipes, Gluten Free, Keto Recipes, ...          3
3  Gluten Free, Keto Recipes, Kid Friendly, Low C...          4
4  Dairy Free, Gluten Free, Kid Friendly, Vegetar...          5

In [30]:
df_tags = df_tags.loc[:,['recipe_id','tags']]
df_tags.head()

   recipe_id                                               tags
0          1  Dairy Free, Gluten Free, Keto Recipes, Kid Fri...
1          2  Air Fryer Recipes, Dairy Free, Gluten Free, Ke...
2          3  Air Fryer Recipes, Gluten Free, Keto Recipes, ...
3          4  Gluten Free, Keto Recipes, Kid Friendly, Low C...
4          5  Dairy Free, Gluten Free, Kid Friendly, Vegetar...

In [31]:
df_tags.to_csv('tags_table.csv', index=False)

In [14]:
df_users = read_data_csv('data/user_table.csv')
df5 = read_data_csv('data/passwords_col.csv')
df_users['Passwords'] = df5
df_users.head()
df_users.to_csv('user_table_wp.csv', index=False)